#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.grid-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

header {
  width: 100%;
  background-color: #5a56c3;
  color: white;
  padding: 1rem;
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  font-size: 1rem;
}

/* Tarjetas */
.card {
  background-color: lightgray;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-bottom: 20px;
  text-align: center;
}

/* Contenedores */
.main-container {
  display: flex;
  flex:1;
  padding-top: 60px;
 
}

.main-content {
  background-color: #8790c6;
  flex: 1;
  margin-left: 250px;
  padding: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  max-width: calc(100% - 250px);
  display: flex;
  flex-direction: column;
}

/* Sidebar */
#sidebar {
  width: 250px;
  background-color: #222;
  color: white;
  position: fixed;
  top: 56px;
  bottom: 0;
  left: 0;
  padding-top: 1rem;
  transition: transform 0.3s ease;
  z-index: 1000;
}

.sidebar.sidebar-responsive {
  transform: translateX(0);
}

.sidebar:not(.sidebar-responsive) {
  transform: translateX(-250px);
}

.menu-icon {
  cursor: pointer;
}

.sidebar-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 1rem;
}

.sidebar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.sidebar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar-list-item:hover {
  background-color: rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.sidebar-list-item > a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #9e9ea4;
  padding-left: 0.5rem ;
  padding-right: 0.5rem ;
  padding-top: 1rem;
  padding-bottom: 1rem;
  
}

.close_icon {
  cursor: pointer;
}

.icon {
  margin-right: 0.5rem;
}
.h2 {
  font-size: 1.5rem;
  margin-bottom: 16px;
  text-align: left; /* Cambia el alineado a la izquierda */
}
.summary-card {
  max-width: 700px; /* Ajusta el tamaño del summary */
  margin: 0 auto; /* Centra el summary horizontalmente */
}
.indi {
  max-width: 400px; /* Ajusta el tamaño del summary */
  margin: 0 auto; /* Centra el summary horizontalmente */
}
.subtitu{
  background-color: #8b96cb;
}
.summary{
  text-align: center;
}
